<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- can do css/style.css becuase of app.use in index.js -->
    <script src="js/client.js" defer></script>
    <!-- can do js/frontend.js becuase of app.use in index.js -->
</head>
<body>
    <a href="/posts">Posts Page</a>
    <!-- can do /posts becuase of app.use in index.js, also applies to images as well -->
    <h1>Home Page</h1>
    <p id="counter">Loading button click data.</p>
    <div class="buttons-container">
        <button id="addButton">Click me!</button>
        <button id="resetButton">Reset</button>
    </div>
</body>
</html>